[url]
https://discourse.openrobotics.org/c/ros/ros-announcements-news/112

[tags]
release, ${distro_lower}

[title]
New Packages for ${distro_title} ${sync_date}

[body]
We’re happy to announce **${num_added}** new packages and **${num_updated}** updates are now available in ROS ${distro_title}. This sync was tagged as [`${distro_lower}/${sync_date}`](https://github.com/ros/rosdistro/blob/${distro_lower}/${sync_date}/${distro_lower}/distribution.yaml).

Thank you to every maintainer and contributor who made these updates available!

## Package Updates for ROS ${distro_title}

${details_sections}

Thanks to all ROS maintainers who make packages available to the ROS community. The above list of packages was made possible by the work of the following maintainers:

${maintainers}

[chat]
${distro_title} packages have been synced: https://discourse.openrobotics.org/t/new-packages-for-${distro_lower}-${sync_date}/ - no need to hold ${distro_title} ros/rosdistro PRs anymore.

[reply]
The [sync is out](https://discourse.openrobotics.org/t/new-packages-for-${distro_lower}-${sync_date}/) :tada: . Now is a great time to make releases for the next sync
